<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Angular</title>

    <link rel="stylesheet" type="text/css" href="../content/css/index.css" />

    <script src="../app/js/angular.min.js"></script>
    <script src="../app/js/angular-route.min.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/filters/title_case_filter.js"></script>
    <script src="../app/filters/gender_filter.js"></script>
    <script src="../app/services/string_service.js"></script>

  </head>
  <body>
    <div ng-include="'nav.html'">
    </div>
    <div ng-controller="anchorScrollController">
      <button id="top" ng-click="scrollTo('bottom')">Go to bottom of the page</button>
    </div>
    <ng-view></ng-view>
    <div ng-controller="anchorScrollController">
      <button id="bottom" ng-click="scrollTo('top')">Go to top of the page</button>
    </div>
  </body>
</html>
