<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Angular</title>

    <link rel="stylesheet" type="text/css" href="../content/css/index.css" />

    <script src="../app/js/angular.min.js"></script>
    <script src="../app/js/angular-route.min.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/filters/title-case-filter.js"></script>
    <script src="../app/filters/gender-filter.js"></script>
  </head>
  <body>
    <div ng-controller="employeeDirectory">
      <div ng-include="'nav.html'">
      </div>
      <p>Select View</p>
      <select ng-model="directoryView">
        <p>{{ error }}</p>
        <br />
        <option value="directory_list.html">List</option>
        <option value="directory_table.html">Table</option>
      </select>
      <div ng-include="directoryView"></div>
    </div>
  </body>
</html>
